<section class="home">
    <h2>Productos</h2>
    <div class="contenedor-productos">
        {{#each products}}
        <div class="producto">
                <img src="{{this.thumbnails}}" alt="{{this.title}}">
            <div>
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
            </div>
            <p>${{this.price}}</p>
        </div>
        {{/each}}
    </div>
</section>