<div>
    <section class="realtime-products">
        <h2>Productos en vivo</h2>
        <div id="contenedor-productos">
            {{#each products}}
            <div class="producto">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p>$ {{this.price}}</p>
                <button onclick="eliminarproducto({{this.id}})">Eliminar {{this.title}}</button>
            </div>
            {{/each}}
        </div>
    </section>
    <section class="add-product">
        <h2>Agrega tu producto</h2>
        <form id="form-add-product" >
            <label for="title">Ingrese el nombre del producto</label>
            <input type="text" id="title" name="title" placeholder="Ej: Maceta Jaz" required class="campo-form">
            <label for="price">Ingrese el precio del producto</label>
            <input type="number" id="price" name="price" placeholder="Ej: 12000" required class="campo-form">
            <label for="description">Ingrese la descripción del producto</label>
            <input type="textarea" id="description" name="description" placeholder="Ej: Maceta azul de ceramica..." required class="campo-form">
            <label for="code">Ingrese el codigo del producto</label>
            <input type="text" id="code" name="code" placeholder="Ej: AGH452E" required class="campo-form">
            <label for="category">Ingrese la categoria del producto</label>
    <select id="category" name="category" required class="campo-form-select">
        <option value="maceta">Maceta</option>
        <option value="florero">Florero</option>
    </select>
            <label for="stock">Ingrese el stock del producto</label>
    <input type="number" name="stock" id="stock" placeholder="Ej: 25" required class="campo-form">
    <button type="submit" class="boton">Enviar</button>
        </form>
    </section>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
